/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes menu {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes opacity-60 {
  to {
    opacity: 0.6;
  }
}

@keyframes raise-heart {
  to {
    scale: 1.5;
  }
}

@keyframes sparks-animation {
  50% {
    opacity: 1;
  }
}

/*aнимация cердца*/
.card__heart-button {
  background-color: var(--themes-main-color);
  border: 2px solid transparent;
  padding: 5px 0 0 0;
}

.card__heart-button:focus {
  outline: none;
}

.card__heart-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1 linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.card__heart-button:hover {
  cursor: pointer;
}

.card__heart-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s linear;
}

.card__heart-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.card__heart-button:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0s linear;
}

.card__heart-button:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked {
  animation: raise-heart 0.6s 0.1s reverse ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.6s 0.3s reverse ease-in;
}

.sparks {
  opacity: 0;
}
