/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wgth" var(--main-wgth);
  background: var(--themes-background-color , #FFF);
  color: var(--accent-color);

  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header,
.main {
  inline-size: 100%;
  max-inline-size: 696px;
}

.header {
  background-color: var(--themes-background-color);
  min-block-size: 364px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-block: 102px 104px;
  border: 2px var(--accent-color) solid;

  font-family: var(--accent-font-family), sans-serif;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7414rem + 1.4679vw, 4.0625rem);
  padding-block-end: 20px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6944rem + 0.8257vw, 1.4375rem);
  padding-block-end: 25px;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block-end: 25px;
}

.theme-menu__item:not(:last-child) {
  padding-block-end: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
}

.sprints {
  background-color: var(--themes-background-color);
}

.sprints__card-list {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.card {
  border: 2px var(--accent-color) solid;
}


.card__image {
  max-width: 100%;
  object-fit: contain;
}


